body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("images/bg.jpg");

}

.w3-bar .w3-button {
  padding: 16px;
}

.transparent-container {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,1) 100%);
  
}

.company-name {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
  letter-spacing:3px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  display: inline; /* Display by default */
}
.desktopview{
  display: flex;
}

/* slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.logo-img{
  float: left;
  position: relative;
  padding: 5px 5px;
}
    
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

.theight{
  height: 450px;
}

#contact{
  position: fixed;
  right: 0%;
  padding-top: 20px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 360px) {
  .prev, .next{font-size: 11px}
  }

@media screen and (max-width: 768px) {
  .company-name{
    display: none;
  }
  .desktopview{
    display: none;
  }
  .theight{
    height: 400px;
  }
  #contact{
    position:relative;
  }
  
}
@media only screen and (min-width: 768px){
  
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}
/* Style for the overlay */
.popoverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.gradient-green{color:#000!important;background: linear-gradient(90deg, rgb(0, 166, 0, 1) 0%, rgb(24, 229, 24,1) 25%, rgb(79, 255, 79,1) 50%, rgba(24, 229, 24,1) 75%, rgba(0, 166, 0, 1) 100%)!important}
.gradient-gray{color:#000!important;background: linear-gradient(90deg, rgba(214,214,214,1) 0%, rgba(241,241,241,1) 25%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 75%, rgba(214,214,214,1) 100%)!important}


/* table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2} */


